<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SignaR Demo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <input type="hidden" id="connId" />

    @Scripts.Render("~/bundles/jquery")

    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        var accountHubProxy = $.connection.userLoginHub;
        var helloHub = $.connection.HelloWorld;
    </script>
    <script>

        $(function () {

            $("a#logoff").on('click', function () {
                $.post('/Account/TriggerLogOff');

            });

            accountHubProxy.client.OnConnectionIdReceived = function (data) {
                $("#ConnectionId").val(data);
            }

            accountHubProxy.client.LogOut = function () {
                // deleteAllCookies();

                var token = $('input[name="__RequestVerificationToken"]').val();
                var headers = {};

                headers['__RequestVerificationToken'] = token;

                $.ajax({
                    url: '/Account/LogOff',
                    method : 'POST',
                    headers: headers,
                    data: {
                        __RequestVerificationToken: token,
                    },
                    success: function () {
                        alert('please login to continue');
                        window.location.reload();
                    }
                });

              
               
            }

            function eraseCookieFromAllPaths(name) {
                // This function will attempt to remove a cookie from all paths.
                var pathBits = location.pathname.split('/');
                var pathCurrent = ' path=';

                // do a simple pathless delete first.
                document.cookie = name + '=; expires=Thu, 01-Jan-1970 00:00:01 GMT;';

                for (var i = 0; i < pathBits.length; i++) {
                    pathCurrent += ((pathCurrent.substr(-1) != '/') ? '/' : '') + pathBits[i];
                    document.cookie = name + '=; expires=Thu, 01-Jan-1970 00:00:01 GMT;' + pathCurrent + ';';
                }
            }

        });

    </script>

    @RenderSection("scripts", required: false)

    <script>
        window.connected = false;
        $(function () {
            $.connection.hub.start()
                            .done(function () {
                                window.connected = true;
                            });

        })
    </script>
</body>
</html>
